@page "/apropos"

<h3>À propos du projet</h3>

<div class="cont">
    <br />
    <strong>Université de Yaoundé I</strong>
    <br />
    <strong>Faculté des Sciences</strong>
    <br />
    <strong>Département d’Informatique</strong>
</div>

<h5>Gestion des Notes des Étudiants</h5>
<h6>Module Importation et saisie des notes avec et sans anonymats</h6>
<p>
    Ce projet est réalisé dans le cadre du cours de ICT 205  Introduction to Programming in .Net C#
</p>

<h4>Nom du projet :</h4>
<p><strong>Gestion des Notes des Étudiants</strong></p>

<h4>Groupe :</h4>
<p><strong>Groupe 4</strong></p>

<h4>Membres et Rôles :</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Nom et Prénoms</th>
            <th>Matricule</th>
            <th>Rôle</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>1</td><td>DJINE SINTO PAFING</td><td>23U2292</td><td>Chef de groupe (Backend & Frontend)</td></tr>
        <tr><td>2</td><td>NANYOU GILLES RAYMOND</td><td>23U2351</td><td>Backend</td></tr>
        <tr><td>3</td><td>MELI TSAKI SUSY DIANDRA</td><td>23U2360</td><td>Frontend</td></tr>
        <tr><td>4</td><td>KAMGA JORDANE</td><td>23U2536</td><td>Test et Intégration</td></tr>
        <tr><td>5</td><td>MANGOUO JACKY VICTOIRE</td><td>23U2317</td><td>Frontend</td></tr>
        <tr><td>6</td><td>MAHAMAT BARKAÏ MAÏDE</td><td>23U2358</td><td>Frontend</td></tr>
        <tr><td>7</td><td>DINA KAMENI JOYCE CARELLE</td><td>23U2293</td><td>Frontend</td></tr>
        <tr><td>8</td><td>SHALANYUY TOUOFO CHRISPIN</td><td>22V2276</td><td>Backend</td></tr>
        <tr><td>9</td><td>NKONGMENOCK LOÏC PARFAIT</td><td>23U2241</td><td>Backend</td></tr>
        <tr><td>10</td><td>BIANDA TCHANA ODILON PARFAIT</td><td>23U2327</td><td>Test et Intégration</td></tr>
    </tbody>
</table>

<h4>Encadré par :</h4>
<p><strong>Mr CATCHA</strong></p>

<h4>Année académique :</h4>
<p><strong>2024-2025</strong></p>

<h4>Fonctionnalités Développées :</h4>
<ul>
    <li><strong>Importation et saisie des notes sans anonymat (CC)</strong> - Saisie et importation des évaluations continues.</li>
    <li><strong>Importation et saisie des notes avec anonymat (EE)</strong> - Gestion sécurisée des notes d'examen avec anonymat.</li>
    <li><strong>Gestion des erreurs et retours utilisateurs</strong> - Vérification et validation des données.</li>
    <li><strong>Interface utilisateur</strong> - Expérience utilisateur intuitive et ergonomique.</li>
</ul>
